body {
    background: rgb(40,75,90);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10;
    padding: 10;
}

header {
    background: gray;
    padding: 20px;
}

section {
    background: white;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

div {
    background: gray;
    margin: auto;
    width: 100px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {display: inline-block;
margin-right: 20px;
}

li.header {
    font-size: 150%;
}

footer {
    background: white;
    padding: 10px 20px;

}

img.world-triathlon {
    width: 130px;
    height:50px;
    padding: 0;
}
img.usa-triathlon {
    width: 90px;
    height:50px;
    padding: 0;
}

img.defunkify {
    width: 140px;
    height: 50px;
    padding: 0;
}

img.gu_logo {
    width: 50px;
    height:50px;
    padding: 0;
}